<h2 class="mb-2 text-2xl font-bold">{{ username }}</h2>
<div class="overflow-hidden rounded-lg bg-white shadow-md">
    <table class="min-w-full">
        <thead class="bg-gray-200">
            <tr>
                <th class="px-4 py-2 text-left">Gegeben von</th>
                <th class="px-4 py-2 text-left">Ehre</th>
                <th class="px-4 py-2 text-left">Grund</th>
                <th class="px-4 py-2 text-left">Datum</th>
            </tr>
        </thead>
        <tbody>
            {{ for transaction in transactions }}
            <tr class="border-b">
                <td class="px-4 py-2">{{ transaction.giver.username }}</td>
                <td class="px-4 py-2">+{{ transaction.amount }}</td>
                <td class="px-4 py-2">{{ transaction.description }}</td>
                <td class="px-4 py-2">{{ transaction.transaction_date }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
