<h2 id="sidePanelTitle" class="text-2xl font-bold mb-4"></h2>
<table class="w-full">
  <thead class="bg-gray-100">
    <tr>
      <th class="py-2 px-4 text-left">Datum</th>
      <th class="py-2 px-4 text-left">Ehre</th>
      <th class="py-2 px-4 text-left">Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-b">
      <td class="py-2 px-4">15.09.2024</td>
      <td class="py-2 px-4">+3</td>
      <td class="py-2 px-4">Hilfe beim Projekt</td>
    </tr>
    <tr class="border-b">
      <td class="py-2 px-4">10.09.2024</td>
      <td class="py-2 px-4">+2</td>
      <td class="py-2 px-4">Gute Präsentation</td>
    </tr>
    <!-- More rows can be added here -->
  </tbody>
</table>
